<div class="file-upload">
	<label class="file-upload__label">
		<span class="file-upload__image-wrapper">
			<img class="file-upload__image" src="" alt="uploaded image">
		</span>
		<input class="file-upload__input" name="files[]" type="file" accept="image/*">
		<span class="file-upload__overlay js-overlay">
			<span class="file-upload__icon-wrapper remove">
				<i class="file-upload__icon remove"></i>
			</span>
			<span class="file-upload__icon-wrapper refresh">
				<i class="file-upload__icon refresh"></i>
			</span>
			<span class="file-upload__icon-wrapper upload">
				<i class="file-upload__icon upload"></i>
			</span>
		</span>
	</label>
</div>